.Home-Container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:9rem 1rem 0rem 5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.Home-Container a
{
    text-decoration: none;
    color: black;
}
.video-box
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    width: 23rem;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
}

.video-image-container
{
    position: relative;
}

.video-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7rem;
}

.minute
{
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    padding: 0.12rem 0.3rem 0.06rem 0.3rem;
    color: white;
    background-color:black;
    margin: 0;
    border-radius: 0.3rem;
    font-size: 0.77rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.video-description
{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}


.video-channel-image
{
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
    border-radius: 50%;
}

.content-container
{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 7rem;
}

.content-container p
{
    margin: 0;
}

.video-title
{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.23rem;
}

.video-title p
{
    max-height: 2.4rem;
    width:19rem;
    overflow:hidden; 
    text-overflow: ellipsis;
    white-space: wrap;
}

.video-channel
{
    font-size: 0.9rem;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
}

.video-statics
{
    display: flex;
    gap: 0.4rem;
    font-size: 0.9rem;
    opacity: 0.8;
}


.statics-icon
{
    width: 0.23rem;
}

